.mainDetail {
    width: 100vw;
    height: 100vh;

    padding: 20px 0;

    background: url(../../assets/img/background.png) center/cover no-repeat;
}

.cardDetail {
    width: 80%;
    max-width: 800px;
    min-width: 420px;

    margin: 0 auto;
    padding: 20px;

    background-color: rgb(140, 157, 166, 0.5);
    border-radius: 15px;
}

.headerDetail {
    display: flex;
    justify-content: center;
}

.cardStats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    width: 80%;
    max-width: 600px;
    margin: 40px auto 0;
}

.pokemonImage {
    width: 400px;
}

.textStat {
    font-size: 1.6rem;
}

.statIcon {
    width: 35px;
    height: 35px;
}

.pokemonName {
    font-size: 2.6rem;
}

.btnReturn {
    position: relative;
    right: 80px;

    width: 40px;
    height: 25px;
}