.container {
  width: 100vw;
  height: 100vh;

  padding: 100px 0;

  background: url(../../assets/img/background.png) center/cover no-repeat;
}

.container h1 {
  font-size: 1.8rem;
  font-family: PokemonGB;

  margin-left: 5%;
}

.titleCreate {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleCreate button {
  width: auto;
  height: auto;

  padding: 0 5px;

  font-size: 1.2rem;
}

.formCreate {
  display: grid;
  grid-template-columns: 150px 1fr;
  row-gap: 16px;

  max-width: 600px;

  margin: 2rem auto 0 auto;
  padding: 3.5%;

  background-color: rgba(41, 41, 33, 0.6);
}

.formCreate input {
  border: 1px solid #9c9c9c;
}

.formCreate button {
  grid-column: 1 / 3;

  width: 100%;
  padding: 0.7em;

  font-family: PokemonGB;

  background: lightgray;
}

.formCreate label {
  grid-column: 1 / 2;
  align-self: center;

  font-family: PokemonGB;
  font-size: 0.8rem;
  text-align: right;
}

.formCreate input {
  padding: 0.7em;
  margin-bottom: 0.5rem;
}

.formCreate input:focus {
  outline: 3px solid gold;
}
