.pagination {
  display: flex;
  justify-content: space-evenly;

  position: relative;
  top: 40px;

  width: 400px;
  margin: 0 auto;
}

.btnPage {
  width: 40px;

  background-color: red;
}

.page {
  font-size: 1.6rem;
  font-weight: 600;

  color: black;
}
