.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  min-height: 100vh;

  background: url(../assets/img/pokecenter.png) center;
}

.headerHome {
  width: 100%;
  min-height: 100px;

  padding: 20px 10px;

  background-color: rgba(41, 41, 33, 1);
}

.filters {
  width: 40%;
}

.pokecenterIcon {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  width: 140px;

  margin-right: auto;
  margin-left: auto;

  text-align: center;

  user-select: none;
  -drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  width: 80vw;

  padding: 15px;
  margin: 0 auto;

  margin-top: 20px;
  margin-bottom: 20px;

  background-color: rgba(41, 41, 33, 0.6);
}

.footerHome {
  width: 100%;
  height: 100px;

  background-color: rgb(202, 50, 53);
}
