.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100vh;

  background: url(../assets/img/emerald_low.gif) center;
  background-position-y: 10%;
}

@media screen and (max-width: 480px) {
  img {
    width: 300px;
  }
}

img {
  width: 400px;

  margin: 20px;
}

h1 {
  align-items: flex-start;
  margin: 6vh auto;

  font-size: 1.8rem;
  font-family: PokemonGB;
}

button {
  align-items: flex-end;
  padding: 15px 35px 15px 5px;

  font-size: 1.2rem;
  font-family: PokemonGB;

  border: 8px double;
}

.focus-option {
  position: relative;
  left: 15px;

  opacity: 0;
}

button:hover .focus-option {
  opacity: 1;
}

h2 {
  font-size: 1rem;
  color: black;
}

footer {
  display: grid;
  place-items: center;

  width: 100%;
  height: 5vh;

  background-color: rgb(111, 208, 145);
}
